@use "../abstracts" as *;

.header {
  padding: 2rem 0;
  background-color: var(--bg-color-primary);

  .container {
    @include sm {
      display: flex;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;

    a {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: #fff;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: bold;
      user-select: none;

      svg {
        width: auto;

        @include xs {
          height: 2rem;
        }

        @include md {
          height: 2.5rem;
        }
      }
    }

    @include sm {
      justify-content: unset;
      margin-bottom: 0;
    }
  }

  &__search {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 1rem 0;
    border-radius: 0.5rem;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.5);

    i {
      padding: 0 0.5rem 0 1rem;
    }

    input {
      width: 100%;
      padding-right: 1rem;
      border: none;
      outline: none;
      color: rgba(0, 0, 0, 0.8);
      font-size: 1rem;
    }

    @include sm {
      width: 50%;
    }

    &--popup {
      position: absolute;
      top: 100%;
      z-index: 1;
      display: none;
      padding: 0.5rem;
      border-radius: 0 0 0.5rem 0.5rem;
      background-color: #fff;

      ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem 1rem;

        li {
          gap: 0.5rem;

          a {
            display: flex;
            align-items: center;
            padding: 0.5rem;
            border-radius: 1rem;
            text-decoration: none;
            user-select: none;
          }

          img {
            width: 1.5rem;
            margin-right: .5rem;
          }
        }
      }
    }
  }
}
